[Unit]
Description=Homelab Cron Service

[Service]
Type=oneshot
WorkingDirectory=%h/homelab
ExecStart=/usr/bin/make cron

[Install]
WantedBy=default.target

