[Unit]
Description=Run Homelab Cron Service every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=homelab-cron.service

[Install]
WantedBy=timers.target
