CONTAINER_CLI=docker
OPENBAO_CONTAINER=openbao
BAO_CLIENT_IMAGE=quay.io/openbao/openbao:2.7.0-beta20260909
OPENBAO_PLUGIN_IMAGE=local/openbao:2.7.0-beta20260909
AUTHORIZER_IMAGE=ghcr.io/xtruder/openbao-authorizer:latest
DOMAIN_NAME=x-truder.net
GITHUB_APP_ID=4999527
APPROVER_PASSWORD=
AGENT_PASSWORD=

VAPID_SUBJECT=mailto:admin@example.com
