BAO_CLIENT_IMAGE=quay.io/openbao/openbao:2.7.0-beta20260909
AUTHORIZER_IMAGE=ghcr.io/xtruder/openbao-authorizer:latest
DOMAIN_NAME=x-truder.net
GITHUB_APP_ID=4999527

VAPID_SUBJECT=mailto:admin@example.com
