version: '3.9'
name: collabora
services:
  collabora:
    container_name: collabora
    image: "collabora/code"
    environment:
      - domain=nextcloud.hudoklin.si
      - 'dictionaries=en_US,de_DE'
      - VIRTUAL_PROTO=http
      - VIRTUAL_PORT=9980
      - VIRTUAL_HOST=collabora.${PUB_DOMAIN_NAME}
      - "extra_params=--o:ssl.enable=false  --o:ssl.termination=true"
    tty: true
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.collabora.rule=Host(`collabora.${PUB_DOMAIN_NAME}`)
      - traefik.http.routers.collabora.entrypoints=pubsecure
      - traefik.http.routers.collabora.service=collabora
      - traefik.http.routers.collabora.tls=true
      - traefik.http.routers.collabora.tls.certresolver=letsencrypt
      - traefik.http.services.collabora.loadbalancer.server.port=9980
    networks:
      - proxy
 
networks:
  proxy:
    name: proxy
    external: true
